#!/bin/sh

# Enter the {{ podName }}-{{ anImage }} container in the {{ podName }} pod

if podman container exists {{ podName }}-{{ anImage }} ; then
  podman exec -it \
{%- if envs.keys() | length -%}
{%-   for envKey, envValue in envs.items() %}
    --env={{ envKey }}={{ envValue }} \
{%-   endfor %}
{%- endif %}
    {{ podName }}-{{ anImage }} \
    {{ shell }}
fi
