#!/bin/sh
    
# Image removal script for the {{ podName }} pod
    
{% for anImage in images %}
# Remove the {{ anImage }} image
#
if podman image exists {{ imageLocal[anImage] }} ; then
  podman image list -n -f reference={{ imageLocal[anImage] }} \
    | cut -d ' ' -f 1,3 \
    | tr -s ' ' ':' \
    | xargs -I{} podman image rm {}
fi
{% endfor %}


