# Commons directory

This directory is mounted, at `/commons`, by all of the containers in the
ComputePod.

This allows the containers in the ComputePod to share files between
themselves. It also allows who ever runs the ComputePod to view these
files from the host computer.

