# ComputePods user configuration and scripts

This directory contains the configuration and scripts required for the {{
name }} user to access the {{ federationName }} federation of ComputePods.

This directory has two subdirectories:

1. **config** : The files in this subdirectory provide the client SSL
   certificate required for your browser to connect to the
   {{ federationName }} ComputePod.

2. **scripts** : The files in this subdirectory provide the scripts
   required to setup your authorized ssh keys to allow the
   {{ federationName }} ComputePod to access your project files.

## Setting up SSH

To be able to use the {{ federationName }} ComputePods, you must run the
`setup-ssh.sh` shell script.

This script alters your personal list of authorized ssh keys, by adding a
new key for the explicity purpose of the ComputePod acessing a specified
directory (and all of its subdirectories) using `rsync`. This key, once
added, forbids all other uses comming from the ComputePods. It will not
alter any existing keys so all other ssh uses will remain as they are
currently configured.

To do this type:

```
  python scripts/setup-ssh.py
```

## Turning off SSH

To stop granting the {{ federationName }} ComputePods rsync access to your
project files, type:

```
  python scripts/turn-off-ssh.py

```

## Accessing the {{ federationName }} ComputePod web interface

All access to the ComputePod web interface is secured using both client
and server SSL certificates. To be able to access this web interface from
your browser, you must first install your client SSL certificate. To do
this....
